.back{
    background: rgb(20,132,213);
    background: linear-gradient(90deg, rgba(20,132,213,1) 0%, rgba(152,240,255,1) 100%);
    font-family: 'Roboto';
    color: white;
}

.print{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 17pt;
    margin-right: 10px;
    color: #454c52;
    cursor: pointer;
}

.print:hover{
    color: #2100d6;
}

.modal-full {
    min-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.page{
    text-align: right;
}

.search {
    margin-bottom: 15px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #000000ba;
    z-index: 99;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.loading-text{
    height: 0px;
    position: absolute;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
}

.dot-1 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -1s infinite, change-color 5s alternate infinite;
}
.dot-2 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -2s infinite, change-color 5s alternate infinite;
}
.dot-3 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -3s infinite, change-color 5s alternate infinite;
}
.dot-4 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -4s infinite, change-color 5s alternate infinite;
}
.dot-5 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -5s infinite, change-color 5s alternate infinite;
}
.dot-6 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -6s infinite, change-color 5s alternate infinite;
}
.dot-7 {
  animation: move 6s cubic-bezier(1,.01,.01,1) -7s infinite, change-color 5s alternate infinite;
}

@keyframes move {
  0%    {transform: rotate(45deg) translate(0px, 0px);}
  12.5% {transform: rotate(45deg) translate(0px, 24px);}
  25%   {transform: rotate(45deg) translate(-24px, 24px);}
  37.5% {transform: rotate(45deg) translate(-24px, 0px);}
  50%   {transform: rotate(45deg) translate(-24px, -24px);}
  62.5% {transform: rotate(45deg) translate(0px, -24px);}
  75%   {transform: rotate(45deg) translate(24px, -24px);}
  87.5% {transform: rotate(45deg) translate(24px, 0px);}
  100%  {transform: rotate(45deg) translate(0px, 0px);}
}

@keyframes change-color {
  from {background-color: #78f1ff;}
  to   {background-color: #002ec7;}
}



 
